/* Regola 1: Stile generale per il corpo della pagina (tag "body") */
body {
    font-family: georgia;
    font-size: 20px;
    background-color: #d9ebe4;
    color: #7c7b7b;
    margin: 100px;
    line-height: 1;
    
}



/* Regola 2: Stile per il titolo principale (tag "h1") */
h1 {
    color: #1f1f1f; 
    text-align: center;
    padding-bottom: 18px;
}
header {
    background-color: #9dc2ec;
    color: rgb(184, 24, 24);
    text-align: center;
    padding: 20px;
}